@{
    @using BookstoreProject.Firestore_Database;
    @model List<Book>
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
    List<Book> books = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.books;
    List<Genre> genres = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.genres;
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">

}

<div class="homePage">
    <div class="dropdown">
        <button class="dropbtn">Thể loại</button>
        <div class="dropdown-content">
            <a href="#"> 1</a>
            <a href="#">2</a>
            <a href="#">3</a>
        </div>
    </div>
</div>
<br />
<div class="title homePage">Quản lí sách</div>

<div class="homePage">
    
    <div class="container-lg">
        <div class="products">
            @foreach (var book in books)
            {
                List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.LoadCopiesWithBookId(book.getId(), "Còn");
                string status = copies.Count > 0 ? "Còn" : "Hết";
                <div class="prod-item">
                    <div class="image"><img src="@book.getUrlImage()" alt="@book.getTitle()"></div>
                    <div class="title">@book.getTitle()</div>
                    
                </div>
            }
        </div>
    </div>
</div>
