@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
}

<body>
    <div class="button-container homePage">
        <h3 style="text-align: left;">Trang quản trị</h3>
        <br />
        <a href="#" class="button" style=" font-size: 20px; text-decoration: none;">
            <span><i class="fas fa-book"></i></span>
            <span><i class="fas fa-arrow-up"></i></span>
            Cập nhật tình trạng sách
        </a>
        <a href="#" class="button" style="font-size: 20px; text-decoration: none;">
            <span><i class="fas fa-address-card"></i></span>
            <span><i class="fas fa-arrow-up"></i></span>
            Cập nhật tình trạng thẻ
        </a>
        <a href="#" class="button" style="font-size: 20px; text-decoration: none;">
            <span><i class="fas fa-newspaper"></i></span>
            <span><i class="fas fa-arrow-up"></i></span>
            Cập nhật tình trạng mượn
        </a>
        <br />
        <h3>Hình minh họa</h3>
        <img src="~/lib/Admin/h1.png" />
    </div>
</body>
