@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}
<body>
    <div>
        <br />
        <h1>TRANG QUẢN TRỊ</h1>
        <br />
        <div class="container1">
            <div class="image-list">
                <button class="selectable">
                    <a href="/Books/Index">
                        <img src="~/lib/admin/h1.jpg">
                    </a>
                </button>
                <button class="selectable">
                    <img src="~/lib/admin/h2.jpg">
                </button>
                <button class="selectable">
                    <img src="~/lib/admin/h3.jpg">
                </button>
                <button class="selectable">
                    <img src="~/lib/admin/h4.jpg">
                </button>
                <button class="selectable">
                    <img src="~/lib/admin/h5.jpg">
                </button>
                <button class="selectable">
                    <img src="~/lib/admin/h6.jpg">
                </button>
                <button class="selectable">
                    <img src="~/lib/admin/h7.jpg">
                </button>
                <button class="selectable">
                    <img src="~/lib/admin/h9.jpg">
                </button>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

</body>