@model BookstoreProject.Dto.ForgotPasswordDTO
@* <h2>Reset Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
 *@

@{
    ViewData["Title"] = "Đăng nhập";
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                    <h5 class="card-title text-center">Lấy lại mật khẩu</h5>
                    <div class="text-center text-danger">@ViewBag.Error</div>
                    <section id="loginForm">
                        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <p class="control-label">Tài khoản</p>
                                <input asp-for="Account" class="form-control" />
                                <span asp-validation-for="Account" class="text-danger" style="color:var(--primary-color)"></span>
                            </div>
                            <div class="form-group">
                                <p class="control-label">Mật khẩu</p>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger" style="color:var(--primary-color)"></span>
                            </div>
                            <div class="form-group">
                                <p class="control-label">Xác nhận mật khẩu</p>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger" style="color:var(--primary-color)"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Reset</button>
                            @* Enable this once you have account confirmation enabled for password reset functionality *@
                            <p>
                                @Html.ActionLink("Đăng nhập", "SignIn")
                            </p>
                        }

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}