@{
   // Book book = ViewBag.bookInfo;
}

<div class="homePage">
    <div class="container-lg d-flex flex-column">
        <div class="categorySection">
            
            <div class="categories">
                <div class="categoriesIn">
                    <a class="catItem">
                        <span>
                            Những cuốn sách phổ biến
                        </span>
                    </a>
                </div>
             </div>



        </div>
    </div>
</div>
