@{
    ViewData["Title"] = "Home Page";

}


<div class="layoutCS">
    <div class="titlePage">
        <div class="container-lg">
            <p>Trang chủ</p>
        </div>
    </div>

    <div class="homePage">
        <div class="container-lg d-flex flex-column">
            <div class="banner">
                Banner
            </div>

            <div class="categorySection">
                <div class="categories">
                    <div class="categoriesIn">
                        <a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a>
                        <a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a><a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a><a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a><a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a>
                    </div>
                </div>
                <div class="products">
                    @foreach (var book in BookstoreProject.Firestore_Database.BookstoreProjectDatabase.books)
                    {
                        int count = 0;
                        if (BookstoreProject.Firestore_Database.BookstoreProjectDatabase.copies.Count > 0)
                            foreach (Copy cop in BookstoreProject.Firestore_Database.BookstoreProjectDatabase.copies)
                                if (cop.getStatus().Equals("Còn") && cop.getBookId().Equals(book.getId()))
                                    count++;

                        string status = count > 0 ? "Còn" : "Hết";
                        <div class="prod-item d-flex flex-column">
                            <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="@book.getUrlImage()" /></div>
                            <div class="title">@book.getTitle()</div>
                            <div class="price">Trạng thái: @status</div>
                        </div>
                    }

                   
                </div>
            </div>
        </div>
    </div>
</div>