@{
    ViewData["Title"] = "Home Page";
}


<div class="layoutCS">
    <div class="titlePage">
        <div class="container-lg">
            <p>Trang chủ</p>
        </div>
    </div>

    <div class="homePage">
        <div class="container-lg d-flex flex-column">
            <div class="banner">
                Banner
            </div>

            <div class="categorySection">
                <div class="categories">
                    <div class="categoriesIn">
                        <a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a>
                        <a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a><a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a><a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a><a class="catItem">
                            <span>
                                Sách học ngoại ngữ
                            </span>
                        </a>
                    </div>
                </div>


                <div class="products">
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div> 
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div><div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div><div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="https://cdn0.fahasa.com/media/catalog/product/t/d/tdcsvnsh.jpg" /></div>
                        <div class="title">Thay Đổi Cuộc Sống Với Nhân Số Học</div>
                        <div class="price">30000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>